n8n_proxy_repondre_get.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "repondre-proxy",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {
        "functionCode": "const query = items[0].json.query || items[0].json;\nconst uuid = query.uuid;\nconst t = query.t;\nconst sig = query.sig;\nif (!uuid || !t || !sig) throw new Error('Missing params');\nreturn items;"
      },
      "name": "Validate Token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [470, 250]
    },
    {
      "parameters": {
        "url": "={{ `http://192.168.1.211/formulaire_fournisseur/public/repondre.php?uuid=${$json[\"query\"].uuid}` }}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "Fetch internal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [690, 250]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 250]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "Fetch internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch internal": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}